<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EventBus-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EventBusTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F024B1D18D2C65500FCCE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F024B3718D2C65500FCCE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F024B5618D2CF3C00FCCE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F024B7018D2CF3C00FCCE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F907EF218D2AB8100BF7A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
